[Unit]
Description=Flask Application for Nube BACNET SERVER
After=network.target

[Service]
ExecStartPre=/bin/sleep 60
Type=simple
User=<user>
WorkingDirectory=<working_dir>
ExecStart=<lib_dir>/venv/bin/gunicorn -b 0.0.0.0:<port> --worker-class gevent -w 1 run:app -e data_dir=<data_dir>
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=bacnet-server

[Install]
WantedBy=multi-user.target
