[Unit]
Description=Flask Application for Nube BACNET SERVER
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/bacnet-flask
ExecStart=/home/pi/bacnet-flask/venv/bin/gunicorn -b 0.0.0.0:1717 -w 1 run:app
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=bacnet-flask

[Install]
WantedBy=multi-user.target
